<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zombie Survival</title>
  <link rel="stylesheet" href="/style/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
  <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
  <script type="module" src="scripts/MainScript.js"></script>
  <script type="module" src="scripts/scenes/MenuScene.js"></script>
  <script type="module" src="scripts/scenes/GameScene.js"></script>

</head>
<body>

  <header class="gametitle">
    <div class="header-title">
      <p>🧟‍♂️Zombie Survival🧟‍♂️</p> /* Header at the top of the page */
    </div>
  </header>

  <section class="main">

    <div class="container"> /* Left box */
      <div class="box" id="leftBox">
        <h1>How to play?</h1>
        <p class="boxText"> 
          <br>🕹️ Controls:<br>
          <br>Move: W, A, S, D<br>
          <br>Shoot: Space (aim with arrow keys)<br>
          <br>Shift + move: Sprint</br>
          <br>You will face hordes of zombies and must work together with your friends to survive. 🧠 <br>
        </p>
      </div>
      
      <div id="gameScreen">
      </div>

      <div class="box" id="rightBox">
        <h1>How to create a room? 👥</h1> /* Right box */
        <p class="boxText">
          <br>1. Click on the "Create Room" button.<br>
          <br>2. Enter a room name and click "Create".<br>
          <br>3. Share the room name with your friends.<br>
        </p>
      </div>
    </div>

  </section>

  <footer>
    <div class="container"> /* Footer at the bottom of the page including credits */
      <p>Made By Group 10
      <br>Credits:
      <br>Background image by <a href="https://www.freepik.com/free-vector/destroyed-city-park-war-zone-abandoned-urban-garden-with-burnt-bench-trees-buildings_15421067.htm#fromView=keyword&page=1&position=1&uuid=8011f861-d908-4614-ae8d-74df7aa6bb59&query=Apocalypse+Background" target="_blank">Freepik</a>
      <br>Sprites by <a href="https://liberatedpixelcup.github.io/Universal-LPC-Spritesheet-Character-Generator/#?body=Body_color_light&head=Human_male_light&sex=male&weapon=none_Halberd&shadow=none_Shadow&expression=none_Angry" target="_blank">Liberatedpixelcup</a>
      <br>Map tileset by <a href="https://www.clipartmax.com/middle/m2i8m2Z5d3H7A0H7_free-tileset-version-free-house-tileset/" target="_blank">ClipArtMax</a>
      <br>Character3 by <a href="https://kiva-pixel.carrd.co" target="_blank">Kiva Pixel</a>
      <br>© 2025 Zombie Survival. All rights reserved.
    </div>
  </footer>

</body>
</html>
