<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zombie Survival</title>
  <link rel="stylesheet" href="/style/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
  <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
  <script type="module" src="scripts/MainScript.js"></script>
  <script type="module" src="scripts/scenes/MenuScene.js"></script>
  <script type="module" src="scripts/scenes/GameScene.js"></script>

</head>
<body>

  <header class="gametitle">
    <div class="header-title">
      <p>🧟‍♂️Zombie Suvival🧟‍♂️</p>
    </div>
  </header>

  <section class="main">

    <div class="container">
      <div class="box" id="leftBox">
        <h1>How to play?</h1>
        <p class="boxText"> 
          <br>-Move the character around, by using the W,A,S,D.</br>
          <br>-Use Shift to sprint.</br>
          <br>-Use the arrow keys to shoot in the direction you want.</br>
        </p>
      </div>
      
      <div id="gameScreen">
      </div>

      <div class="box" id="rightBox">
        <h1>The fall of humanity!</h1>
        <p class="boxText">
          A mutated virus is at outbeak, spreading uncontrollably.
          The city is in chaos, the quarantine has failed and the undead have risen.
          With no other alternatives you and your friends team up to reclaim safety to the streets.
        </p>
      </div>
    </div>

  </section>

  <footer>
    <div class="container">
      <p>Made By Group 10<br>Made in 2025</p>
    </div>
  </footer>

</body>
</html>